.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: left;
  background-color: blanchedalmond;
  background-image: url("person-filling-in-online-application.jpg");
  background-repeat: no-repeat;
  background-position: right ;
  margin-right: 0.1rem;
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  
@media screen and (min-width: 600px){
  
}
.auth-form-container{
  padding: 5rem;
  border: 1px solid rgb(8, 0, 0);
  border-radius: 10px;
  margin-left: 1.5rem;
}

label{
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}
button{
  border: none;
  background-color: rgb(243, 240, 240);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn{
  background: none;
  color: rgb(55, 20, 214);
  text-decoration: underline;
}